.dailyLogFormContainer {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  background-color: #ad8ab4;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dailyLogField {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.dailyLogField:focus {
  border-color: #614958;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

label {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.DailyLogSubmitButton {
  background-color: #87677B;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.DailyLogSubmitButton:hover {
  background-color: #0056b3;
}
